<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thehillreloaded">

    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_NETWORK_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:required="true" />
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:required="true" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TheHillReloaded">
        <activity
            android:name=".menu.RisultatiActivity"
            android:exported="false" />
        <activity
            android:name=".menu.StanzaActivity"
            android:exported="false" />
        <activity
            android:name=".menu.PartitaSalvataActivity"
            android:exported="false" />
        <activity
            android:name=".menu.PunteggiActivity"
            android:exported="false" />
        <activity
            android:name=".menu.InfoActivity"
            android:exported="false" />
        <activity
            android:name=".gameplay.NormalGameActivity"
            android:exported="false" />
        <activity
            android:name=".gameplay.PowerUpGameActivity"
            android:exported="false" />
        <activity
            android:name=".menu.DifficoltaActivity"
            android:exported="false" />
        <activity
            android:name=".menu.ConnessioneActivity"
            android:exported="false" />
        <activity
            android:name=".menu.LinguaActivity"
            android:exported="false" />
        <activity
            android:name=".menu.VolumeActivity"
            android:exported="false" />
        <activity
            android:name=".menu.SchermataCaricamentoActivity"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".accesso.ModalitaAccessoActivity"
            android:exported="false" />
        <activity
            android:name=".accesso.RegistrazioneActivity"
            android:exported="false" />
        <activity
            android:name=".accesso.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".menu.ImpostazioniActivity"
            android:exported="false" />
        <activity
            android:name=".menu.MultigiocatoreActivity"
            android:exported="false" />
        <activity
            android:name=".menu.GiocatoreSingoloActivity"
            android:exported="false" />
        <activity
            android:name=".menu.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".animazioni.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>